html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  background: #111;
  color: #1a1;
}

#app {
  width: 100%;
}

.hello-eventrix {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.hello-eventrix h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}
